<div class="container mt-3">
    <div class="p-4 my-4 infopanel">
        <div class="container">
            <h1 class="display-4">Regisztráció</h1>
            <p class="lead">a Győri SZC Jedlik Ányos Gépipari és Informatikai Technikum és Kollégium által
                szervezett Nyitott Kapuk Napjára (2021/2022 tanév)</p>
            <hr class="my-2">

            <p>
                Tisztelt Látogatók!
            </p>
            <p>
                A járványügyi helyzetre való tekintettel sajnos korlátozó intézkedéseket kell bevezetnünk. Limitálnunk
                kell az egyidőben az épületben tartózkodók számát, így a nyitott kapuk napjának látogatását előzetes
                regisztrációhoz kötjük.
            </p>
            <p>
                A rendelkezésre álló kapacitásaink 192 látogató fogadására elegendők naponta. (tanuló + kísérő
                együttesen)
            </p>
            <p class="mb-0">
                Mindenki azzal segíthet a többieknek, ha betartja a következőket:
            </p>
            <ul>
                <li>Csak 8. évfolyamon tanuló gyermek jelentkezzen.</li>
                <li>Lehetőleg csak egy kísérő jelentkezzen. (Az is megoldás, ha több ismerős tanulót egy kísérő hoz el.)
                </li>
            </ul>
            <p class="font-weight-bold mb-0">
                A látogatás ideje alatt maszk viselése kötelező!
            </p>
        </div>
    </div>

    <div *ngIf="!status.selectedDate" class="szemelyes p-3 mb-3" id="divDatumok">
        <h3 class="mb-3">Dátumok:</h3>
        <div *ngFor="let day of days" class="row">
            <div class="col-md-12">
                <p class="mb-0">
                    <strong>{{day.date | date: 'yyyy.MM.dd'}}:</strong>
                    <span>
                        szabad kapacitás: <span> {{'TODO'}} </span> fő
                        <button class="btn btn-primary ms-4" (click)="regisztracio(day)">Regisztráció</button>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="status.selectedDate && !status.registrationSucceeded" id="formRegisztracio" class="szemelyes p-3 mb-3">
        <h3 class="mb-3">Regisztrációs adatok:</h3>
        <div class="row">
            <div class="col-md-6">
                <label>Dátum:</label>
                <p style="font-size: 1.2rem;"><strong>{{status.selectedDate}}</strong></p>
                <input type="hidden" name="datum" id="datum" value="2021-11-15">
            </div>
            <div class="col-md-6">
                <label for="Email">E-mail cím:</label><span class="csillag">*</span>
                <input type="email" class="form-control" placeholder="" name="Email" required="" 
                       [(ngModel)]="registration.email">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border border-secondary pt-2 pb-1 rounded-lg position-relative">
                <div class="position-absolute px-1" style="left: 0.5rem; top:-0.9rem; background-color: #B7DEE8;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="kisero" name="kisero" 
                               (click)="parentNameChecked($event)">
                        <label class="custom-control-label ms-1" for="kisero">Kísérő</label>
                    </div>
                </div>
                <label for="KiseroNeve">Kísérő neve:</label>
                <input type="text" class="form-control" placeholder="" id="KiseroNeve" name="KiseroNeve" 
                       [(ngModel)]="registration.parentName1" [disabled]="!registration.parent1Checked">
            </div>
            <div id="divTanulokSzama" class="form-group col-md-6 pt-2 pb-1">
                <div class="form-group">
                    <label for="tanulokSzama">Tanulók száma:</label><span class="csillag">*</span>
                    <select id="tanulokSzama" class="form-control" style="max-width: 10rem;" 
                            (change)="studentsCountChanged()" [(ngModel)]="registration.numberOfStudents">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>

                </div>
            </div>
        </div>

        <div class="row">
            <div id="divTanuloNeve1" class="col-md-6" *ngIf="registration.numberOfStudents > 0">
                <label for="TanuloNeve1">Tanuló neve:</label><span class="csillag">*</span>
                <input type="text" id="TanuloNeve1" class="form-control" placeholder="" name="TanuloNeve1"
                       [(ngModel)]="registration.studentName1">
            </div>
            <div id="divTanuloNeve2" class="col-md-6" *ngIf="registration.numberOfStudents > 1">
                <label for="TanuloNeve2">Tanuló neve:</label><span class="csillag">*</span>
                <input type="text" id="TanuloNeve2" class="form-control" placeholder="" name="TanuloNeve2"
                       [(ngModel)]="registration.studentName2">
            </div>
            <div id="divTanuloNeve3" class="col-md-6" *ngIf="registration.numberOfStudents > 2">
                <label for="TanuloNeve3">Tanuló neve:</label><span class="csillag">*</span>
                <input type="text" id="TanuloNeve3" class="form-control" placeholder="" name="TanuloNeve3"
                       [(ngModel)]="registration.studentName3">
            </div>
            <div id="divTanuloNeve4" class="col-md-6" *ngIf="registration.numberOfStudents > 3">
                <label for="TanuloNeve4">Tanuló neve:</label><span class="csillag">*</span>
                <input type="text" id="TanuloNeve4" class="form-control" placeholder="" name="TanuloNeve4"
                       [(ngModel)]="registration.studentName4">
            </div>
        </div>


        <div class="row" id="gomb">
            <button class="btn btn-primary my-3 mx-auto" (click)="send()">Elküld</button>
        </div>
        <p class="text-danger font-weight-bold text-center" id="error">{{errorMessage}}</p>

    </div>

    <div *ngIf="status.registrationSucceeded" class="infopanel szemelyes border-success " id="divSikeresReg">
        <h1 class="text-center text-success">Sikeres regisztráció</h1>
        <h3 class="text-center text-success"></h3>
    </div>


    <p class="text-center">
        <em><strong>
                A nyitott kapuk programot követően minden egyedi azonosításra szolgáló adatot törölni fogunk. Az
                önök által megadott adatokat harmadik fél számára nem adjuk tovább.
            </strong></em>
    </p>
    <p class="text-center">Szükség esetén az iskola portáján igazolást adunk a megjelenőknek.</p>
</div>
<div class="container footer my-3">
    <div class="row" style="border-top: 1px solid #ccc">
        <div class="col py-2 text-right ">
            <a href="https://jedlik.eu">www.jedlik.eu</a>
        </div>
    </div>
</div>